~UL~FMThe Rules!

~FRThe Crypt~RS doesn't have many rules...  But:

~FY1:~RS Don't hassle other people!
~FY2:~RS Don't ask for promotion! ~FM(Many people break this rule...)
~FY3:~RS Don't be an arse...

Advertising other talkers is fine as long as you don't annoy anyone :>

People who break rules will be booted at the super-users discretion :)



